
*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

html{
     scroll-behavior: smooth;
}
.container{
    width: 100%;
    height: 135vh;
    background-color: #EAE4DD;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#EAE4DD;
    width: 100%;
    height: 80px;

}
.logo{
    color: #243D37;
    font-size: 20px;
    letter-spacing: 5px;
    margin-left:100px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px 20px;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #243D37;
    transition: width 3s;
}
nav ul li a:hover{
    text-decoration: underline;
    color:#975A30; 
    width: 10px;
    
}
section{
    display: flex;
}
.circle{
    margin-top:180px;
    margin-left:100px;
}
.circle h6{
    font-size:20px;
    font-weight: 400;
    margin-bottom: -17px;
}
.circle h1{
    font-size: 100px;
    font-weight: 400;
}
.circle h1 span{
    color: #975A30;
}
/* .section-pic{
    background-color: #80675633;


} */
.section-pic img{
    margin-top:250px;
    margin-left: 250px;
    width: 150px;
}
.boxes{
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    gap: 60px;
}
button {
    margin-top: 50px;
    margin-left: 100px;
    background-color: #975A30;
    width: 250px;
    height: 60px;
    border: none;
    color: #fff;
}
.about{
   background-color: #242424;
   height: 100vh; 
   /* margin-bottom: -10px; */

}
.container-text{
    height:10vh ;
    margin-left: 100px;
    
}
.container-text  h6{
    /* margin-top: 25px; */
    color: #000;
}
.container-text p{
    margin-top: 15px;
    color: #fff;
    font-size: 40px;
}
.container-text p span{
    margin-top: 20px;
    color: #975A30;
    font-size: 40px;
}
.middle{
    margin-top: 180px;
    display: flex;
}
.middle img{
    width: 50%;
}
aside{
    margin-left: 50px;
    margin-top: 30px;
}
aside .one{
    font-size: 18px;
    color: #fff;
}
aside .two{
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}
hr{
    margin-top: 50px;
}
#contact-page{
    background-color: #EAE4DD;
    width: 100%;
    height: 100vh;
    display: flex;
}
.contact{
    margin-top: 120px;
    margin-left: 100px;
    font-weight: 400;
}
.contact h3{
    font-size: 18px;
    color: #5A5B50;
    margin-bottom: -15px;
}
.contact h1{
    margin-top: 20px;
    font-size: 42px;
}
.contact .p{
    margin-top: 150px;
}
.contact .p p{
    font-size: 20px;
    color: #5A5B50;
}
.contact h1 span{
    color: #975A30;
}
.right{
   width: 40%;
    background-color: #97593070;
    height: 40vh;
    margin-top: 100px;
    margin-left: 50px;
}
.right h2{
    color: #fff;
    text-align: center;
}
.field{
    width: 70%;
    padding: 0.5rem 1rem;
    /* background-color: #d9d9d99c; */
    background-color: rgb(230, 230, 230,0.6);
    outline: none;
    border: 2px solid rgb(0, 0, 0,0) ;
    margin-bottom: 20px;
    transition:  .3s;
    margin-top: 10px;  
}
#row {
  margin: 8px -16px;
  background-color: #EAE4DD;
  width: 100%;
}


#row,
#row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 50%;
}

#row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  padding: 10px;
}

footer{
    background-color: #000;
    color: #EAE4DD;
    text-align: center;
    height: 8vh;
}
footer p{
    padding-top: 12px;
}